
.footer_section{
    background-image: url("../../../Assets/footer-bk.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 45px;
}

.footer_section .quicklinks_main{
    padding-top: 10px;
}

.footer_section .footer_title{
    font-size: 30px;
    color: #fff;
}

.footer_section .footer_subtitle{
    color: #fff;
    font-size: 18px;
}

.footer_section .aboutus_description {
    font-size: 12px;
    text-align: justify;
    font-weight: 200;
    color: #fff;
    width: 70%;
}

.footer_section .footer_social_icons{
    display: flex;
    align-items: center;
    gap: 10px;
}

.footer_section .footer_social_icons .footer_icon{
    height: 32px;
    width: 32px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    border-radius: 20px;
    color: #204E7F;
}

.footer_section .quick_links_list{
    list-style-type: none;
    padding: 0;
    font-size: 12px;
}

.footer_section .quick_links_list li{
    padding: 5px 0px;
}

.footer_section .quick_links_list li a{
    color: #fff;
    font-weight: 200;
}

.footer_section .contact_list{
    display: flex;
    align-items: baseline;
    gap: 10px
}

.footer_section .contact_list .contact_icon{
    height: 30px;
    width: 30px;
    background-color: #2D9BA8;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    border-radius: 20px;
    color: #ffffff;
}

.footerbar_section{
    display: flex;
    align-items: baseline;
    background-color: #1a1a1a;
    padding: 10px 0px;
    justify-content: space-evenly;
}

.footerbar_section .copyright-text{
    font-size: 12px;
}

.footerbar_section .copyright-text span{
    font-size: 14px;
    font-weight: 700;
    color: #62b768;
}

.footer_section .footer_logo_img img{
    width: 131px;
    height: 40px;
}

.footer_section .scroll_up_control button{
    height: 30px;
    width: 30px;
    background-color: #62b768;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    border-radius: 20px;
    color: #ffffff;
    border: none;
}

.footer_section .scroll_up_control button:focus{
    outline: 0;
}

.footer_section .footer_end{
    padding: 10px 0px;
    border-top: 1px solid #aeaeae;
    text-align: center;
    color: #fff;
    font-size: 12px;
}

.footer_section .footer_end p span {
    font-weight: 600;
    font-size: 14px;
    text-transform: uppercase;
}
